<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>

   
    <div class="dialog-container">
        <h2>Formulaire Formation</h2>

        <form>
            
            <div>
                <div>
                    <label for="ministere">Ministère:</label>
                    <input type="text" id="ministere" name="ministere">
                </div>
                <div>
                    <label for="entreprise">Entreprise:</label>
                    <input type="text" id="entreprise" name="entreprise">
                </div>

                <div>
                    <label for="application">Application:</label>
                    <input type="text" id="application" name="application">
                </div>
            </div>
            <div>
                <label for="nom">NOM vis-à-vis:</label>
                <input type="text" id="nom" name="nom">
            </div>
            <div>
                <label for="tel">Tel vis-à-vis:</label>
                <input type="text" id="tel" name="tel">
            </div>
            <div>
                <label for="portable">Portable vis-à-vis client:</label>
                <input type="text" id="portable" name="portable">
            </div>


            <div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email">
                </div>
                <div>
                    <label for="reference">Reference BC:</label>
                    <input type="text" id="reference" name="reference">
                </div>


                <div>
                    <label for="dateBC">Date BC:</label>
                    <input type="date" id="dateBC" name="dateBC">
                </div>
                <div>
                    <label for="dateBOBC">Date B.O BC:</label>
                    <input type="date" id="dateBOBC" name="dateBOBC">
                </div>
                <div>
                    <label for="dateLivraison">Date livraison:</label>
                    <input type="date" id="dateLivraison" name="dateLivraison">
                </div>
                <div>
                    <label for="dateLimiteFormation">Date limite formation:</label>
                    <input type="date" id="dateLimiteFormation" name="dateLimiteFormation">
                </div>
            </div>
            <div>
                <label for="portable">Remaraque(daca/cfd)</label>
                <input type="text" id="portable" name="portable">
            </div>



            <!-- Form Actions -->
            <div class="action-btns">
                <button type="submit">Valider et envoyer</button>
                <button type="button" routerLink="/daca">Annuler</button>
            </div>
        </form>
    </div>


</body>
  